<div class="container-footer">
  <%= link_to '/' do %>
    <p class ="icon fa-solid fa-house"></p>
  <% end %>
  <p class="icon fa-solid fa-star"></p>
  <%= link_to 'cocktails' do %>
    <p class ="icon fa-solid fa-martini-glass-citrus"></p>
  <% end %>
  <p class ="icon fa-solid fa-magnifying-glass"></p>
  <p class="icon fa-solid fa-user"></p>
</div>
