<div class="container">
   <div class="row">
     <div class="col-12" id="home">
       <%= image_tag("Cocktail_logo_test.png", width: '300px', height: 'auto') %>
       <h1>Liquid Kitchen</h1>
       <p>The app that find you the cocktails you can make</p>
       <%= button_to "Mix!", "cocktails", :class => "btn-main", :method => :get  %>
       <%# <button class="btn-main" link_to cocktails_path>Mix!</button> %>
     </div>
   </div>

</div>
