.icon {
  font-size: 36px;
  margin-top: 20px;
  color: $gold;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #1A001C;
  border-top: 2px solid;
  border-color: $gold;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  padding-left: 12px;
  padding-right: 12px;
}
