// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";


.container {
  display: flex;
  text-align: center;
  border-radius: 10px;
  display: grid;
  width: 100%;


}

.cocktail {
  border: 1px solid ;
  margin: 10px;
  width: auto;
}
