.navbar-lewagon {
  justify-content: space-between;
  background: #2F0631;
  border-bottom: #D0B380 solid 2.5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-name {
  font-size: x-large;
  margin-left: 35px;
  font-weight: bolder;
}
