// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&family=Montserrat:wght@200&family=Petit+Formal+Script&display=swap');
body {
  background-color: #2F0631;
  color: #D0B380;
  font-family: 'Petit Formal Script', cursive;
}

h1 {
  text-align: center;
  margin: 20px;
  font-family: 'Petit Formal Script', cursive;
}

.homepagelogo {

}
